body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 156, 156);
}

.container {
    text-align: center;
}
p1 {
        margin-top: 20px;
        font-size: 60px;
    }
p2 {
        font-size: 30px;
    }
.playButton {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
img{
    width: 550px;
    margin-bottom: 20px;
    border: solid black;
    }
p3 {
    font-size: 15px;
    margin-bottom: 20px;
}

